body {
    background-color: #f1c97d;  
    text-align: center;
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 95vh;
}

h1 {
    font-family: 'Welcome December';
    font-size: 11em;
    letter-spacing: 16px;
    height: 150px;
    text-shadow: 0 0 0.2em rgba(81, 255, 0, 0.397);
    display: flex;
}

h2 {
    width: 400px;
    height: 300px;
    font-size: 2rem;
    letter-spacing: 2px;
    position: relative;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: none;
}

#arcoIris {
    display: flex; 
    width: 90vh;
    height: 450px;
}

#gif {
    display: flex; 
    width: 60vh;
    height: 600px;
    display: none;
}

#fred {
    position: relative;
    align-items: center;
    margin: auto;
    justify-content: center;
    width: 37vh;
    height: 37vh;
    display: none;
}

footer {
    font-size: 1.5rem;
    text-shadow: 0 0 0.2em rgb(255, 255, 255);
}

@font-face {
    font-family: 'Welcome December';
    src: url('./fonts/Welcome\ December.otf') format('opentype');
}
